<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Rent',     25],
          ['Bills',  11],
          ['Gym', 2],
          ['Food',    7],
          ['Travel',    8],
          ['Heathcare',    5],
          ['Enterteinment',      4]
        ]);

        var options = {
			'width': window.innerWith,
            'height': window.innerHeight * 500 / 720, 
            'chartArea': {'width': '90%', 'height': '80%'},
			 'legend': {'position': 'top',textStyle:{fontSize:'14'}, maxLines:3}
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0">
    <div id="piechart" style="width: 100%; height: auto;"></div>
  </body>
</html>
